body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url(./projectPng.png);
  background-repeat: no-repeat;

  background-size: cover;
}
.container {
  background: white;
  width: 50vw;
  height: 50vh;
  margin-bottom: 6rem;
  border-radius: 2rem;
  box-shadow: 0 0 4px rgba(207, 206, 206, 0.978);
}
.header {
  width: 100%;
  height: 3rem;
  background-color: rgb(234, 234, 234);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(100, 100, 100);
}
.Emp-list {
  overflow-y: scroll;
  height: calc(100% - 15%);

  max-height: calc(100% - 22%);
  margin: 0.3rem;
}
.Emp-list::-webkit-scrollbar {
  width: 5px;
}
.Emp-list::-webkit-scrollbar-thumb {
  background: rgb(219, 219, 219);
  border-radius: 10px;
}
.user-container {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(234, 234, 234);
}
img {
  margin-right: 1rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
